In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.0'

In [3]:
df = pd.read_csv('yellow_taxi_subset100.csv', infer_datetime_format = True, parse_dates = [1, 2])

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [5]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [6]:
from sqlalchemy import create_engine

In [7]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [9]:
engine.connect()

In [10]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data', con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [37]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv',
                      infer_datetime_format = True,
                      parse_dates = [1, 2],
                     iterator = True,
                     chunksize = 100000)

In [38]:
df = next(df_iter)
len(df)

100000

In [41]:
df.head(n=0).to_sql(name = "yellow_taxi_data", con = engine, if_exists = 'replace')

0

In [42]:
from time import time

In [44]:
while True:
    t_start = time()
    
    df.to_sql(name = "yellow_taxi_data", con = engine, if_exists = 'append')
    
    t_end = time()
    
    print(f'Inserted a chunk of data to db. Time taken: {t_end - t_start}')
    df = next(df_iter)

Inserted a chunk of data to db. Time taken: 11.457547187805176
Inserted a chunk of data to db. Time taken: 11.16855239868164
Inserted a chunk of data to db. Time taken: 11.005765438079834
Inserted a chunk of data to db. Time taken: 11.827069759368896
Inserted a chunk of data to db. Time taken: 10.885472059249878
Inserted a chunk of data to db. Time taken: 10.992134809494019
Inserted a chunk of data to db. Time taken: 10.965485334396362
Inserted a chunk of data to db. Time taken: 11.125142335891724
Inserted a chunk of data to db. Time taken: 11.02077317237854
Inserted a chunk of data to db. Time taken: 12.107340574264526
Inserted a chunk of data to db. Time taken: 12.461986780166626
Inserted a chunk of data to db. Time taken: 11.355256080627441

C:\Users\Maharajan\AppData\Local\Temp\ipykernel_20300\3168030696.py:9: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted a chunk of data to db. Time taken: 11.102926254272461
Inserted a chunk of data to db. Time taken: 6.87443208694458

StopIteration:

In [11]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2022-01-24 21:37:55--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.197.192
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.197.192|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv'

     0K .......... ..                                         100% 1.81M=0.007s

2022-01-24 21:37:57 (1.81 MB/s) - 'taxi+_zone_lookup.csv' saved [12322/12322]

In [12]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [13]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [14]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265